.main-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}
.mini-title{
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
}
.mini-font{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}