{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="uk-background-muted uk-padding uk-panel">
<div class="uk-card uk-card-default uk-card-body uk-width-3-4 uk-align-center">
    <div class="uk-card uk-card-body uk-align-center" >
        <img data-src="{% static 'images/online.png' %}" width="700px" height="500px" alt="" uk-img class="uk-align-center">
    </div>
    <h1 class="uk-text-center uk-text-large uk-card-title main-title" style="color:#6f1952"><b>Application Form</b></h1>
    
    <form class="uk-form-horizontal uk-margin-large" method="POST" enctype="multipart/form-data">
       {%csrf_token%}
       <hr class="uk-divider-icon">
      
        <h4 class="uk-card-title mini-title" style="color:#6f1952"><b>Personal Information</b></h4>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text">First Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" required placeholder="First Name" name="first_name">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text">Last Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Last Name" name="last_name">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font">Father's Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text"  type="text" placeholder="Father's Name" name="father_name">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font">Mother's Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text"  type="text" placeholder="Mother's Name" name="mother_name">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text">Contact Number</label>
            <div class="uk-form-controls">
                <input type="tel" class="uk-input" id="form-horizontal-text" type="number" placeholder="Contact Number" name="contact">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text">Email</label>
            <div class="uk-form-controls">
                <input type="tel" class="uk-input" id="form-horizontal-text" type="email" placeholder="" name="email">
            </div>
        </div>
        <hr class="uk-divider-icon">
        <h4 class="uk-card-title mini-title" style="color:#6f1952"><b>Contact Number</b></h4>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text">Father</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" required placeholder="Father's" name="father_contact">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text">Mother</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" required placeholder="Mother's" name="mother_contact">
            </div>
        </div>
        <hr class="uk-divider-icon">
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text">Permanent Address</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" required placeholder="Permanent Address"name="address">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font">City</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="City" name="city">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font">Pin</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Pin code" name="pin">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font">State</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="State" name="state">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Country</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Country" name="country">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Present Address</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Present Address" name="padress">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Present City</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Present City" name="pcity">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Pin code</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Pin code" name="ppin">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Present State</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Present State" name="pstate">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Present Country</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Present Country" name="pcountry">
            </div>
        </div>
        <h4 class="uk-card-title mini-title" style="color:#6f1952"><b>Personal Perticulars</b></h4>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Date of Birth</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="DD/MM/YYYY" name="dob">
            </div>
        </div>
        
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Place of Birth</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Place of Birth" name="pob">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Gender</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Male, Female, Other" name="radio1">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-select mini-font mini-font">Category</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-horizontal-select" name="category">
                    <option value="General" selected>General</option>
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <option value="OBC">OBC</option>
                    <option value="Others">Others</option>
                </select>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font">Aadhar Number</label>
            <div class="uk-form-controls">
                <input type="tel" class="uk-input"   id="form-horizontal-text" type="text" placeholder="Aadhar Number" name="aadhar">
            </div>
        </div>  
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font">Blood Group</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-horizontal-select" name="blood_grp">
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O-</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Maratial Status</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Married/ Un-married" name="radio2">
            </div>
        </div>
        <h4 class="uk-card-title mini-title" style="color:#6f1952"><b>Program Applied For</b></h4>
        <div class="uk-margin">
            <label class="uk-form-label mini-font" for="form-horizontal-text mini-font">Program</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-horizontal-select" name="program">
                    <option value="Mechatronics Engineering">Mechatronics Engineering</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Biomedical Engineering">Biomedical Engineering</option>
                    <option value="Biotechnology Engineering">Biotechnology Engineering</option>
                    <option value="Clinical Reasearch">Clinical Reasearch</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Automotive Product Engineering">Automotive Product Engineering</option>
                    <option value="Internet of Things">Internet of Things</option>
                    <option value="Data Science">Data Science</option>
                    <option value="Animation">Animation</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Cloud Technology">Cloud Technology</option>
                </select>
            </div>
        </div>
        <h4 class="uk-card-title mini-title" style="color:#6f1952"><b>Academic Qualifications</b></h4>
        <div class="uk-overflow-auto">
        <table class="uk-table">
            <thead>
                <tr>
                    <th style="color:#6f1952"><b>Examination</b></th>
                    <th style="color:#6f1952"><b>Year</b></th>
                    <th style="color:#6f1952"><b>Name of School</b></th>
                    <th style="color:#6f1952"><b>Board / University</b></th>
                    <th style="color:#6f1952"><b>Maximum Marks</b></th>
                    <th style="color:#6f1952"><b>Marks Obtained</b></th>
                    <th style="color:#6f1952"><b>Percentage</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Secondary (10th)
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. (2014 - 2015)" name="year1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Name" name="nos1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Name" name="board1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="mm1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="mo1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="p1">
                    </td>
                </tr>
                <tr>
                    <td>
                        Sr. Secondary (12th)
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. (2014 - 2015)" name="year2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Name" name="nos2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Name" name="board2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="mm2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="mo2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="p2">
                    </td>
                </tr>
                <tr>
                    <td>
                        Graduation
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. 2018" name="gy1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Name" name="collegename1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="University Name" name="uni1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="gmm1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="gmo1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="cgpa1">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font">Name of Degree</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. B.Tech Mechatronics" name="name_of_degree">
        </div>
    </div>
        <h4 class="uk-card-title mini-title" style="color:#6f1952"><b>Work Experience</b> (last two)</h4>
        <div class="uk-overflow-auto">
        <table class="uk-table">
            <thead>
                <tr>
                    <th style="color:#6f1952"><b>Organisation Name</b></th>
                    <th style="color:#6f1952"><b>Designation</b></th>
                    <th style="color:#6f1952"><b>Period</b></th>
                    <th style="color:#6f1952"><b>Nature of work</b></th>
                    <th style="color:#6f1952"><b>Last salary Draw (₹/mo)</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Organisation Name" name="org_name1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Designation" name="des1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. (2020 -2021)" name="period1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="nature_work1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="salary1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Organisation Name" name="org_name2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Designation" name="des2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. (2020 -2021)" name="period2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="nature_work2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="salary2">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label mini-font" for="form-horizontal-text mini-font mini-font" style="color:#6f1952">Total Experience</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. 5 years" name="total_exp">
        </div>
    </div>
    
        
        <h4 class="uk-card-title mini-title" style="color:#6f1952"><b>Awards & Honours</b></h4>
        <div class="uk-overflow-auto">
        <table class="uk-table">
            <thead>
                <tr>
                    <th style="color:#6f1952"><b>Year</b></th>
                    <th style="color:#6f1952"><b>Name of Award</b></th>
                    <th style="color:#6f1952"><b>Institution</b></th>
                    <th style="color:#6f1952"><b>Level</b></th>
                    <th style="color:#6f1952"><b>Remarks</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Year" name="year1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Award Name" name="award_name1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Name" name="institute1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. International, National" name="level1">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="remark1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Year" name="year2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Award Name" name="award_name2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Name" name="institute2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="eg. International, National" name="level2">
                    </td>
                    <td>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" name="remark2">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5 class="uk-card-title mini-title" style="color:#6f1952"><b>How do you come to know about us?</b></h5>
    <div class="uk-margin">
        <label class="uk-form-label mini-font" for="form-horizontal-text">Answer: </label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" required placeholder="News Paper, Friends, Website, Other" name="how_ans">
        </div>
    </div>
        <h5 class="uk-card-title mini-title" style="color:#6f1952"><b>Upload your photo</b></h5>
        <div class="uk-margin">
            <div uk-form-custom>
                <input type="file" name="photo">
                <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
            </div>
        </div>
        <hr class="uk-divider-icon">
        <h4 class="uk-card-title mini-title">DECLARATION</h4>
        <p>I hereby declare that the information furnished above is true, complete
            and correct to the best of my knowledge and belief. I understand that in the event of my information
            being found false or incorrect at any stage, my candidature / appointment shall be liable to
            cancellation / termination without notice or any compensation in lieu thereof.</p>
            <input class="uk-checkbox" type="checkbox" required name="" value="Yes"> I accept </label><br><br>
        <input type="submit" class="uk-button uk-button-primary" value="Submit form"> <input class="uk-button" type="reset" value="Reset">
    </form>
</div>
</div>

</div>
<a href="{%url 'data_export'%}">Export Data</a>
{% endblock content %}